@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");



$white: #fff;
$black: #1b1b1b;
$Lightblack: #121212;
$grey: #333;
$cta: orange;
$font-primary: "Lora", serif;
$tablet-breakpoint: 870px;
$mobile-breakpoint: 500px;

::selection {
  background-color: $white;
  color: $black;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  font-family: $font-primary;

  @media only screen and (max-width: $tablet-breakpoint) {
    font-size: 55%;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    font-size: 50%;
  }
}

body {
  background: $Lightblack;
  overflow-x: hidden;
  // transition: background 0.5s;
}

.container {
  max-width: 1200px;
  margin: auto;
  // overflow: hidden;
  padding: 0 2rem;

  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 0 1rem;
  }
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
  user-select: none;
}

img {
  width: 100%;
  user-select: none;
  object-fit: cover;
}

ul,
li {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
