.cart{

    &_items_all{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
        grid-column-gap: 3rem;
        
   @media only screen and (max-width: $tablet-breakpoint) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
};

 &_items{
     display: flex;
     flex-direction: column;
     transition: all 0.5s;

    &_content{
        display: flex;
    }

    &--info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        #buyOrRent{
            padding: 1rem;
            border: none;
            background-color: $white;
            color: $black;
            outline: none;
        }
    }


    }


}