.marquee {
  animation: transformRight 8s linear infinite forwards;
  display: flex;
  white-space: nowrap;
}

.cursor_js {
  position: fixed;
  top: -30px;
  border: 1.5px solid $white;
  background: transparent;
  width: 4rem;
  height: 4rem;
  z-index: 999;
  pointer-events: none;
  border-radius: 50%;
  // backdrop-filter: contrast(40%);
  // transition: 0.1s transform;
  animation-timing-function: ease-in-out;
  transform: translate(-50%, -50%);
  transform-origin: 150% 150%;
  @media only screen and (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.movie_hero {
  height: 60vh;
  position: relative;
  top: 0;

  &_image {
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &_image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 3;
  }
}

.movie_name {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.movie_word {
  margin-right: 2rem;
  letter-spacing: -5px;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
}

.movie_char {
  font-weight: 800;
  opacity: 0;
}
