.marquee {
  animation: transformRight 8s linear infinite forwards;
  display: flex;
  white-space: nowrap;
}

.btn {
  outline: none;
  border: none;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  transition: 0.2s all;

@media only screen and (max-width: $mobile-breakpoint) {
    padding: 1.5rem 2rem;
  }

  &-white {
    background-color: $white;
    color: $black;

    &:hover {
      color: $black;
      background-color: #ccc;
    }
  }

  &-black {
    background-color: #000;
    color: $white;

    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}

.cursor_js {
  position: fixed;
  top: -30px;
  border: 1.5px solid $white;
  background: transparent;
  width: 4rem;
  height: 4rem;
  z-index: 999;
  pointer-events: none;
  border-radius: 50%;
  // backdrop-filter: contrast(40%);
  // transition: 0.1s transform;
  animation-timing-function: ease-in-out;
  transform: translate(-50%, -50%);
  transform-origin: 150% 150%;
  @media only screen and (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.filtermovies {
  display: flex;
  justify-content: space-around;
  // border: 1px solid $black
  background-color: $black;
  padding: 5rem;
  align-items: baseline;

  @media only screen and (max-width: $tablet-breakpoint) {
    align-items: center;
  }

  select {
    outline: none;
    padding: 2rem 1rem;
    background: $Lightblack;
    color: $white;
    border: none;

    option {
      border: none;
    }
  }

  &_filter {
    background-color: $black;
    padding: 2rem;
    border-radius: 4px;
    cursor: pointer;
  }

  .active {
    background-color: $Lightblack !important;
  }
}

.search {
  display: flex;
  justify-content: center;
  input::-webkit-calendar-picker-indicator {
    display: none;
  }
  input {
    width: 20%;
    height: 4rem;
    border: none;
    padding: 2rem;
    outline: none;
    color: $white;
    // font-size: 3rem;
    // border-color: $white;
    background: $grey;

    @media only screen and (max-width: $tablet-breakpoint) {
      width: 30%;
    }
  }
  input::placeholder {
    color: white;
  }
  &_list {
  }
}
