.double_carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: 20vh;

  @media only screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}

.first_carousel {
  overflow: hidden;
}

.single_carousel {
  height: 100%;
  width: 500%;
  display: flex;
  transition: transform 0.5s;
  align-items: center;
  background-color: #fff;

  .h-3 {
    width: 100%;
  }

  img {
    object-fit: cover;
    height: 60vh;
    width: 20%;
  }
}

.second_carousel {
  overflow: hidden;
}

.pagination {
  display: flex;
  margin-left: auto;
  transform: rotate(-270deg);
  justify-content: space-between;
  width: 15rem;
  &_button {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #333;
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    order: 2;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    transform: rotate(0);
    position: absolute;
    bottom: 10%;
    width: 60%;
  }
}
