.double_carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: 20vh;

  @media only screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}

.first_carousel {
  overflow: hidden;
}

.single_carousel {
  height: 100%;
  width: 500%;
  display: flex;
  transition: transform 0.5s;
  align-items: center;
  background-color: #fff;

  .banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_1 {
      background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }
    &_2 {
      background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    }
    &_3 {
      background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    }
    &_4 {
      background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    }
    &_5 {
      background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    }
  }

  img {
    object-fit: cover;
    height: 60vh;
    width: 20%;
  }
}

.second_carousel {
  overflow: hidden;
}

.pagination {
  display: flex;
  margin-left: auto;
  transform: rotate(-270deg);
  justify-content: space-between;
  width: 15rem;
  &_button {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #333;

    @media only screen and (max-width: $tablet-breakpoint) {
      padding: 0.5rem;
    }
    @media only screen and (max-width: $mobile-breakpoint) {
      padding: 0.8rem;
    }
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    order: 2;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    transform: rotate(0);
    position: absolute;
    bottom: 10%;
    width: 60%;
  }
}
