@mixin backgroundPosition {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.double_carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: 20vh;

  @media only screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}

.first_carousel {
  overflow: hidden;
}

.single_carousel {
  height: 100%;
  width: 500%;
  display: flex;
  transition: transform 0.5s;
  align-items: center;
  background-color: #fff;

  .banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   background-color: rgba($color: #000000, $alpha: 0.55);
    //   top: 0;
    //   right: 0;
    // }

    // .h-3 {
    //   position: absolute;
    //   top: 50%;
    //   white-space: nowrap;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   z-index: 5;
    // }

    &_1 {
      background-image: url("/images/banner/awards_banner.jpg");
      @include backgroundPosition();
    }
    &_2 {
      background-image: url("/images/banner/cat_banner.jpg");
      @include backgroundPosition();
    }
    &_3 {
      background-image: url("/images/banner/retro_banner.jpg");
      @include backgroundPosition();
    }
    &_4 {
      background-image: url("/images/banner/cinema_banner.jpg");
      @include backgroundPosition();
    }
    &_5 {
      background-image: url("/images/banner/cat2_banner.jpg");
      @include backgroundPosition();
    }
  }

  img {
    object-fit: cover;
    height: 60vh;
    width: 20%;
  }
}

.second_carousel {
  overflow: hidden;
}

.pagination {
  display: flex;
  margin-left: auto;
  transform: rotate(-270deg);
  justify-content: space-between;
  width: 15rem;
  &_button {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #333;

    @media only screen and (max-width: $tablet-breakpoint) {
      padding: 0.5rem;
    }
    @media only screen and (max-width: $mobile-breakpoint) {
      padding: 0.8rem;
    }
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    order: 2;
  }

  @media only screen and (max-width: $mobile-breakpoint) {
    transform: rotate(0);
    position: absolute;
    bottom: 10%;
    width: 60%;
  }
}
