.header {
  height: 20vh;
  position: relative;
  z-index: 996;



  &_nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_logo {
    // font-size: 2rem;
    display: flex;
    width: 8rem;
  }

  &_dropdown{
    position: relative;
    top: 0;
    .header_list_links:not(:first-child){
      opacity: 0;
      visibility: hidden;
      position: absolute;
    }
    .header_list_links:nth-child(2)
    {
      top: 2rem;
    }
    .header_list_links:nth-child(3)
    {
      top: 4rem;
    }
    .header_list_links:nth-child(4)
    {
      top: 6rem;
    }
    .header_list_links:nth-child(5)
    {
      top: 8rem;
    }
  }

  .fa-shopping-cart{
    &::after{
      content: "0";
      position: absolute;
      font-size: 0.9rem;

      top: 50%;
      border-radius: 20rem;
      color: $Lightblack;
      padding: 0.2rem 0.4rem;
      background-color:orange;
    }
  }

  &_list {
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;
    &_links {
      color: $white;
      @media only screen and (max-width: $tablet-breakpoint) {
        display: none;
      }

      a {
        color: $white;
        transition: all 0.4s;
        padding: 0.4rem 0;
        font-size: 1.1rem;
        text-decoration: none;
        position: relative;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-family: $font-primary;

        &::after {
          text-align: center;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: $white;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }

        &:hover:after {
          width: 100%;
          left: 0;
        }
      }
    }
    @media only screen and (max-width: $tablet-breakpoint) {
      width: auto;
      justify-content: flex-end;
    }
  }
}

  #header_floating_container{
    opacity: 0;
    visibility: hidden;
    height: 10vh;
    position: fixed;
    top: 0;
    padding: 0 2rem;
    z-index: 997;
    background-color:$Lightblack;
    width: 100%;
    transition: all 0.2s;

  @media only screen and (max-width: $tablet-breakpoint) {
     display: none;
     background: transparent;
    }

    .header{
      height: 10vh !important;
    }
  }

  .header_floating_active{
    opacity: 1 !important;
    visibility: visible !important;
  }

