.header {
  height: 20vh;

  &_nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  &_logo {
    font-size: 2rem;
  }

  &_list {
    display: flex;
    justify-content: space-between;
    width: 35%;
    &_links {
      color: $white;
      @media only screen and (max-width: $tablet-breakpoint) {
        display: none;
      }
    }
    @media only screen and (max-width: $tablet-breakpoint) {
      width: 12%;
    }

    &_menu {
      @media only screen and (min-width: $tablet-breakpoint) {
        display: none;
      }

      @media only screen and (max-width: $tablet-breakpoint) {
        display: inline-block;
      }
    }
  }
}
