.mt-m {
  margin-top: 2rem;
}

.mr-m {
  margin-right: 2rem;
}
.mr-l {
  margin-right: 3rem;
}
.mr-s {
  margin-right: 1rem;
}
.mt-l {
  margin-top: 3.5vw;
}
.mt-xl {
  margin-top: 6vw;
}
.mb-s {
  margin-bottom: 1.3vw;
}
.mb-m {
  margin-bottom: 2vw;
}
.mb-xl {
  margin-bottom: 6vw;
}
.mb-l {
  margin-bottom: 3.5vw;
}
.ml-s {
  margin-left: 1vw;
}
.ml-m {
  margin-left: 2vw;
}
.ml-l {
  margin-left: 3.5vw;
}
.m-hide {
  @media only screen and (max-width: $mobile-breakpoint) {
    display: none !important;
  }
}

.mt-s {
  margin-top: 1vw;
}

.is-transitioning {
  pointer-events: none;
  cursor: progress;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  background-color: #000000;
  z-index: 100;
  // visibility: hidden;
  opacity: 0;
}

// .barba-once {
//   opacity: 0;
// }

// .barba-once-active {
//   transition: opacity 0.5s linear;
// }

// .barba-once-to {
//   opacity: 1;
// }
