.mt-m {
  margin-top: 2rem;
}

.mr-m {
  margin-right: 2rem;
}
.mr-l {
  margin-right: 3rem;
}
.mr-s {
  margin-right: 1rem;
}
.mt-l {
  margin-top: 3.5vw;
}
.mt-xl {
  margin-top: 6vw;
}
.mb-s {
  margin-bottom: 1.3vw;
}
.mb-m {
  margin-bottom: 2vw;
}
.mb-xl {
  margin-bottom: 6rem;
}
.mb-l {
  margin-bottom: 3.5vw;
}
.ml-s {
  margin-left: 1vw;
}
.ml-m {
  margin-left: 2vw;
}
.ml-l {
  margin-left: 3.5vw;
}
.m-hide {
  @media only screen and (max-width: $mobile-breakpoint) {
    display: none !important;
  }
}
.t-hide {
  @media only screen and (max-width: $tablet-breakpoint) {
    display: none !important;
  }
}

.t-show {
  @media only screen and (min-width: $tablet-breakpoint) {
    display: none;
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    display: inline-block;
  }
}

.t-w100 {
  @media only screen and (max-width: $tablet-breakpoint) {
    width: 100% !important;
  }
}

.mt-s {
  margin-top: 1vw;
}

.m-abs {
  @media only screen and (max-width: $mobile-breakpoint) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.heading {
  font-weight: 800;
}

.container_sub {
  padding: 0 2rem;
  margin: auto;
  max-width: 1200px;
  @media only screen and (max-width: $tablet-breakpoint) {
    margin: 0 auto;
    padding: 0rem;
  }
}

// .is-transitioning {
//   pointer-events: none;
//   cursor: progress;
// }

// .loader {
//   position: fixed;
//   width: 100vw;
//   height: 100vh;
//   pointer-events: none;
//   background-color: #000000;
//   z-index: 100;
//   opacity: 0;
// }
