.mt-m {
  margin-top: 2rem;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}

.line{
  width: 100%;
  background-color: white;
  border: none;
  outline: none;
  height: 0.13rem;
}

.slide__active{
    position: relative;
    top: 0;
    z-index: 2;
}

.show{
    opacity:1 !important;
    visibility: visible !important;
    z-index: 5;
}


.mr-m {
  margin-right: 2rem;
}
.mr-l {
  margin-right: 3rem;
}
.mr-s {
  margin-right: 1rem;
}
.underline {
  text-decoration: underline;
}
.capitalize {
  text-transform: capitalize;
}
.mt-l {
  margin-top: 3.5rem;
}
.mt-xl {
  margin-top: 6rem;
}
.mb-s {
  margin-bottom: 1.3rem;
}
.mb-m {
  margin-bottom: 2rem;
}
.mb-xl {
  margin-bottom: 6rem;
}
.mb-l {
  margin-bottom: 3.5rem;
}
.ml-s {
  margin-left: 1rem;
}
.ml-m {
  margin-left: 2rem;
}
.ml-l {
  margin-left: 3.5rem;
}
.m-hide {
  @media only screen and (max-width: $mobile-breakpoint) {
    display: none !important;
  }
}
.t-hide {
  @media only screen and (max-width: $tablet-breakpoint) {
    display: none !important;
  }
}

.t-show {
  @media only screen and (min-width: $tablet-breakpoint) {
    display: none;
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    display: inline-block;
  }
}

.t-w100 {
  @media only screen and (max-width: $tablet-breakpoint) {
    width: 100% !important;
  }
}

.col{
  display: flex;
    @media only screen and (max-width: $tablet-breakpoint) {
      margin: 0 !important;
  }
}

.w100{
  width: 100vw;
}

.mt-s {
  margin-top: 1vw;
}

.m-abs {
  @media only screen and (max-width: $mobile-breakpoint) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.heading {
  font-weight: 800;
  text-transform: uppercase;
}


.container_sub {
  // padding: 0 2rem;
  margin: auto;

  max-width: 1700px;
  @media only screen and (max-width: $tablet-breakpoint) {
    margin: 0 auto;
    padding: 0rem;
  }
}

.overlay_text {
  font-size: 10vw;
  color: rgb(20, 20, 20);
  font-weight: 800;

  @media only screen and (max-width: $tablet-breakpoint) {
    font-size: 20vw;
  }
}

.container_right {
  overflow: hidden;
  margin-left: auto;
  max-width: 1200px;
  width: 70%;

  @media only screen and (max-width: $tablet-breakpoint) {
    margin: 0 auto;
    padding: 0rem;
    width: 100%;
  }
}

.modern {
  &_input {
    border: none;
    border-bottom: 1px solid $white;
    outline: none;
    background-color: transparent;

    ::placeholder {
      color: $white;
    }
  }
}

.pabs-center {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animateSlide-active{
-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
z-index: 10 !important;
}

.animateSlide-notActive{
 clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
 z-index: -2 !important;
}

 .swiper-container {
      width: 100%;
      height: 100%;
    }


.swiper-button-prev,.swiper-button-next{
  padding: 10rem 0;
  top: 20%;
  position: absolute;
  color: $cta;
}

.swiper-button-next
{
  right: 0;
}


.swiper-button-prev.swiper-button-disabled
{
  opacity: 0.2;
}


.swiper-button-next.swiper-button-disabled
{
  opacity: 0.2;
}

.progressive{
  background-color: $black !important;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.swiper-button-prev{
  left: 0;
}
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      width: auto !important;
      background:$Lightblack;
      position: relative;
      top:0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

.animateLoader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: #000000;
  transition: all 0.25s;
  z-index: 999;
}


.animateLoader-active {
  opacity: 1;
}

.animateLoader-notActive{
  opacity: 0;
}