.hero {
  height: 100vh;
  // width: 100%;
// z-index: -1;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  top: -20vh;
  // overflow: none;

  @media only screen and (max-width: $tablet-breakpoint) {
    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);

  }


&_subcontainer{
  max-width: 1200px;
  margin: auto;
  height: 100%;
  padding: 0 2rem;
  position: relative;
  top: 0;
  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 0 1rem;
  }
}

  &_banner{
    position: absolute;
    top: 35%;
    
    user-select: none;
    font-weight: 800;
    h1{
      letter-spacing: 0.5rem;
    }

.hero_desc{
  width: 45%;


    @media only screen and (max-width: $tablet-breakpoint) {
  width: 65%;
    
  }

    @media only screen and (max-width: $mobile-breakpoint) {
  width: 90%;
    
  }
}

  }

  &_btn{
    width: 30rem;
  }

  &_carousel {
    background-color: $white;
    height: 100%;
    z-index: -10;
    position: absolute;
    top: 0;
    width: 100%;
    // display: flex;
    overflow: hidden;

    &_slides {
      width: 100%;
      display: flex;
      position: absolute;
      top:0;
      // clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      height: 100%;
      // transform-origin: left;
      // transition: 0.4s all;
      // z-index: -6;     

      &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(#000,.3);
      }

      img {
        width: 100%;
      }
    }
  }

    &_arrows_left {
      font-size: 4rem;
      color: $black;
      position: absolute;
      z-index: 10;
      width: 50%;
      cursor: pointer;
      top: 20vh;
      height: 100%;
      left: 0;
    }
    &_arrows_right {
      cursor: pointer;
      height: 100%;
      width: 50%;
      font-size: 4rem;
      z-index: 10;
      position: absolute;
      right: 0;
      top: 20vh;
      color: $black;
    }

  &_pagination {
    position: relative;
    bottom: -90%;
    display: flex;
    width: 10rem;
    align-items: flex-end;
    // margin-left: 13%;
    margin-right: auto;
    justify-content: space-between;

    &_button {
      border-radius: 50%;
      width: 1rem;
      cursor: pointer;
      height: 1rem;
      background-color: $grey;

      
    @media only screen and (max-width: $tablet-breakpoint) {
      width: 1.2rem;
      height: 1.2rem;
  }
    }

    
    @media only screen and (max-width: $tablet-breakpoint) {
    width: 60%;
    bottom: -115%;
    margin: auto;

  }
  }

&_banner_right{
  position: absolute;
  bottom: 10%;
  right: 2rem;
  user-select: none;
  @media only screen and (max-width: $tablet-breakpoint) {
   display: none;
  }
  }
}

.slides {
  &_banner {
    width: 40%;
    display: none;
  }

  &_images {
    width: 100%;
  }
}
