.hero {
  height: 80vh;
  width: 100%;

  &_carousel {
    background-color: $white;
    height: 60vh;
    width: 500%;
    display: flex;
    transition: 0.5s all;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    // position: relative;
    // top: 0;
    overflow: hidden;

    &_slides {
      width: 100%;
      display: flex;
      img {
        width: 100%;
      }
    }
  }

  // &_arrows {
  //   &_left {
  //     font-size: 4rem;
  //     color: $black;
  //     position: absolute;
  //     z-index: 10;
  //     padding: 2rem;
  //     cursor: pointer;
  //     top: 40%;
  //     height: 100%;
  //     left: 0;
  //   }
  //   &_right {
  //     cursor: pointer;
  //     height: 100%;
  //     padding: 2rem;
  //     font-size: 4rem;
  //     z-index: 10;
  //     position: absolute;
  //     right: 0;
  //     top: 40%;
  //     color: $black;
  //   }
  // }

  &_pagination {
    height: 20vh;
    display: flex;
    width: 10rem;
    align-items: center;
    margin-left: auto;
    margin-right: 10%;
    justify-content: space-between;

    &_button {
      border-radius: 50%;
      width: 1rem;
      cursor: pointer;
      height: 1rem;
      background-color: $grey;
    }
  }
}

.slides {
  &_banner {
    width: 40%;
  }

  &_images {
    width: 60%;
  }
}
