.movie_list {
  overflow-x: hidden;
  display: flex;
  margin-bottom: 3rem;
  &_featured {
    display: flex;
    margin-bottom: 6rem;
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    overflow-x: scroll;
  }
}

.movieIcon {
  position: relative;
  top: 0;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  transform: translateY(30px);

  &__overflow {
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 20px;
  }

  &__name_container {
    position: absolute;
    padding: 2rem;
    // color: black;
    width: 100%;
    background-color: rgba($white, 0.3);
    backdrop-filter: blur(7px);
    white-space: nowrap;
    bottom: 0;
    overflow: hidden;
  }

  &_name {
    color: $white;
    white-space: nowrap;
    text-shadow: 0 2px 2px $black;
  }
}

.list_movies {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 6rem;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

.featured_tag {
  position: absolute;
  top: -1.8rem;
  width: 100%;
  color: $Lightblack;

  &::before {
    content: "Featured";
    width: 100%;
    background-color: $cta;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}
