.movie_list_buttons {
  position: relative;
  top: 0;

  button.left {
    position: absolute;
    top: 15%;
    z-index: 500;
    background: rgba(#fff, 0.5);
    padding: 4rem 2rem;
    height: 30%;
    backdrop-filter: blur(4px);
    left: 0px;
    transform: translateY(40%);
    @media only screen and (max-width: $mobile-breakpoint) {
      display: none;
    }
  }

  button.right {
    right: 0px;
    position: absolute;
    background: rgba(#fff, 0.5);
    top: 15%;
    backdrop-filter: blur(4px);
    z-index: 500;
    // background: black;
    padding: 4rem 2rem;
    height: 30%;
    // left: 0px;
    transform: translateY(40%);

    @media only screen and (max-width: $mobile-breakpoint) {
      display: none;
    }
  }
}

.movie_list {
  overflow-x: scroll;
  display: flex;
  top: 0;
  scroll-behavior: smooth;
  overflow-y: hidden;
  margin-bottom: 3rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &_featured {
    display: flex;
    margin-bottom: 6rem;
    transition: all 0.5s;
    position: relative;
  }
}

.movieIcon {
  position: relative;
  top: -3%;
  user-select: none;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  transition: transform 0.5s;
  // margin-top: 30px;

  img {
    transition: transform 0.5s;
    overflow: hidden;
  }
  &:hover {
    transform: scale(1.05);
  }

  &__overflow {
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 3px;
  }

  &__name_container {
    position: absolute;
    padding: 2rem;
    // color: black;
    width: 100%;
    background-color: rgba($white, 0.3);
    backdrop-filter: blur(7px);
    white-space: nowrap;
    bottom: 0;
    overflow: hidden;
  }

  &_name {
    color: $white;
    white-space: nowrap;
    text-shadow: 0 2px 2px $black;
  }

  &_runtime {
    text-shadow: 0 2px 2px $black;
    color: $white;
  }
}

.list_movies {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  grid-row-gap: 3rem;

  @media only screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.featured_tag {
  position: absolute;
  top: -1.8rem;
  width: 100%;
  color: $Lightblack;

  &::before {
    content: "Featured";
    width: 100%;
    background-color: $cta;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}
