.movie_hero {
  height: 80vh;
  overflow-x: hidden;
  &_image {
    position: relative;
    top: 0;
    width: 100%;
    height: 60vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &_image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 3;
  }
}

.movie_name {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.movie_word {
  margin-right: 2rem;
  letter-spacing: -5px;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
  @media only screen and (max-width: $mobile-breakpoint) {
    letter-spacing: -2px;
    margin-right: 1rem;
  }
}

.movie_char {
  font-weight: 800;
  opacity: 0;
}

.purchasemovie {
  width: 22rem;
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  z-index: 1000;
  padding-left: 2rem;
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
  height: 45rem;

  &__buttons {
    width: 100%;

    @media only screen and (max-width: $tablet-breakpoint) {
      width: 40%;
    }
  }

  @media only screen and (max-width: $tablet-breakpoint) {
    align-items: center;
    flex-direction: row;
    margin-right: 0;
    background-color: $black;
    width: 100%;
    height: auto;
    top: -1px;
    margin-bottom: 5rem;
    justify-content: space-around;
    padding: 5rem;
  }

  &__image {
    position: relative;
    align-self: center;
    top: 0px;
    transition: all 0.1s;
    width: 16.5rem;
    height: 24rem;
    object-fit: cover;

    @media only screen and (max-width: $tablet-breakpoint) {
      width: 18.5rem;
      flex-direction: row;
      margin-right: 0;
    }
  }
}

.movie_details {
  display: unset;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
  top: 0;
  @media only screen and (max-width: $tablet-breakpoint) {
    padding: 0;
  }
}

.movie_text {
  font-size: 2.7rem;
  font-weight: 400;
  color: $white;
}

.reviews {
  background-color: $black;
  padding: 4rem 0;
}

.movie_info {
  margin-top: -40rem;
  @media only screen and (max-width: $tablet-breakpoint) {
    margin-top: 0rem;
  }
  &_section1 {
    // display: flex;
    padding: 2rem;
    background: $black;
    @media only screen and (max-width: $tablet-breakpoint) {
      margin-top: 10rem;
      background-color: $black;
      padding: 3rem 3rem 3rem 4rem;
    }
  }

  * {
    line-height: 1.5;
  }
}

.cast {
  position: relative;
  top: 0;
  padding: 3rem 3rem 3rem 4rem;
  background-color: $black;
  margin-top: 20rem;
  &_image {
    position: absolute;
    top: -100px;
    right: 3rem;
    width: 0%;
    height: 30rem;
    object-fit: cover;
    transform-origin: left;
  }

  .produced_by {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
}

.overview {
  // display: flex;

  &_col {
  }
}

.shrink {
  @media only screen and (max-width: $tablet-breakpoint) {
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin-right: 0;

    .purchasemovie__image {
      width: 8rem;
      height: 10rem;
    }
    .featured_tag {
      top: -1rem;

      &::before {
        font-size: 0.8rem;
      }
    }

    .purchasemovie__buttons {
      .btn {
        // margin-top: 1rem;
      }
    }
  }
}
