
.themeChanger{
  .h1, .h2, .h3, .h4, .h5, .h6, .h-1, .h-2, .h-3, .h-4, .h-5, .h-6{
    color: $Lightblack;
  }

  .h-5--cta{
    color: $cta !important;
  }

  .h-3--white{
    color: $Lightblack;
  }

p {
 
  color: $Lightblack;
}

a,
li {
 
  color: $Lightblack;
}

.movie_info_section1{
  background: #eee !important;
}

.movie_text{
  color: $Lightblack !important;
}

.cast{
  background: #eee !important;
}

.reviews{
  background-color: #eee !important;
}

.movie_char{
  color: white;
}

.footer{
  // background-color: #bbb !important;
  .h-4{
    color: $white !important;
  }

}


// .header_logo{
//   filter: invert(1);
// }


// #header_floating_container{
//   background-color: #fff !important;

//   .header_list_links a{
//   color: $Lightblack !important;
// }

// }

.btn-white{
  background-color: $Lightblack;
  color: $white;
}

.btn-black{
  color: $Lightblack;
  background-color: $white;
}

select{
  background-color: $Lightblack;
  color: $white;
}

.overlay_text{
  color: #d0d0d0;
}

.swiper-slide{
  background-color: $white !important;
}

.filtermovies{
  background-color: #d7d7d7;
  color: $black !important;
  .active{
    background-color: #9b9b9b !important;
  }

  &_filter{
    background: #d7d7d7;
  }
}

  .hero_banner{
    .btn-white{
      background-color: $white;
      color: $Lightblack;
    }

    &_left{
      #hero_title, #hero_desc{
        color: $white;
      }
    }

    &_right{
      .hero_cast{
        ul{
          li{
            color: $white !important;
          }
        }
      }
    }

  }

.contentsection{
  background-color: #ddd;
}

#searchBox{
  background-color: $white;
}
.search_close{
  color: $Lightblack;
}

.search_overflow{
  background-color: $white !important;
}

.fa-search{
  color: white;
}

.purchasemovie__buttons{
  button{
    background-color: $Lightblack;
    color: $white;
  }
}

#header_container{
  mix-blend-mode: difference;
  // position: relative;
  z-index: 998;
}

.header{
  mix-blend-mode: difference;
}


.login_form_field{
  input{
   color: $Lightblack;
  border-color: $Lightblack;
  }  
}

}