
<div class="double_carousel" style="height: 60vh">
    <div class="first_carousel t-hide" style="height: 60vh;  width: 45%;">
        <div class="single_carousel">
            <div class="banner_1 banner">
                <h1 class="h-3 h-3--white">Black History Month</h1>
            </div>
            <div class="banner_2 banner">
                <h1 class="h-3 h-3--white">Buy 3 Movies get 1 free</h1>
            </div>
            <div class="banner_3 banner">
                <h1 class="h-3 h-3--white">Happy Valentine's Day</h1>
            </div>
            <div class="banner_4 banner">
                <h1 class="h-3 h-3--white">Winter film Collection</h1>
            </div>
            <div class="banner_5 banner">
                <h1 class="h-3 h-3--white">Trending Now</h1>
            </div>
        </div>
    </div>

  <div class="pagination">
        <a index="0" class="pagination_button" href=""></a>
        <a index="1" class="pagination_button" href=""></a>
        <a index="2" class="pagination_button" href=""></a>
        <a index="3" class="pagination_button" href=""></a>
        <a index="4" class="pagination_button" href=""></a>
    </div>

    <div class="second_carousel t-w100" style="  height: 60vh;
  width: 50%;">
        <div class="single_carousel">
            {{#each imagesForCarousel}}
                <img src={{this}} alt="">
            {{/each}}
        </div>
    </div>

   
</div>


