<div class="contentsection mb-xl mt-xl">
    <div class="contentsection_banner">
        <div class="h-3-vw h-3--white m-abs">Watch the best films of 2021</div>
    </div>
    <div class="contentsection_images">
        <div class="contentsection_images_container">

        {{#each images}}
            <img src={{this}} alt="">
        {{/each}}
        {{#each images}}
            <img src={{this}} alt="">
        {{/each}}
        {{#each images}}
            <img src={{this}} alt="">
        {{/each}}
        {{#each images}}
            <img src={{this}} alt="">
        {{/each}}

        </div>
    </div>
</div>