<div class="filtermovies mb-m">
     <div class="h-3 mr-s">Browse Movies</div>
    <div id="byrating" class="filtermovies_filter h-4 t-hide">By Rating</div>
    <div id="releasedate" class="filtermovies_filter h-4 t-hide">Release Date</div>
    <div id="runtime" class="filtermovies_filter h-4 t-hide">Runtime</div>
    <div id="featuredmovies" class="filtermovies_filter h-4 t-hide">Featured Movies</div>
    <div class="filtermovies_select t-show">
        <select name="movies" id="movies">
            <option id="byrating" value="By Rating">By Rating</option>
            <option id="releasedate" value="Release Date">Release Date</option>
            <option id="runtime" value="Runtime">Runtime</option>
            <option id="featuredmovies" value="Featured Movies">Featured Movies</option>
        </select>
    </div>
</div>