<div class="filtermovies mb-m">
     <div class="h-3 mr-s">Browse Movies</div>
    <div id="mostwatched" class="filtermovies_filter h-4 active t-hide">Most Watched</div>
    <div id="releasedate" class="filtermovies_filter h-4 t-hide">Release Date</div>
    <div id="recentlyadded" class="filtermovies_filter h-4 t-hide">Recently Added</div>
    <div id="featuredmovies" class="filtermovies_filter h-4 t-hide">Featured Movies</div>
    <div class="filtermovies_select t-show">
        <select name="movies" id="movies">
            <option id="mostwatched" value="Most Watched">Most Watched</option>
            <option id="releasedate" value="Release Date">Release Date</option>
            <option id="recentlyadded" value="Recently Added">Recently Added</option>
            <option id="featuredmovies" value="Featured Movies">Featured Movies</option>
        </select>
    </div>
</div>