<div class="filtermovies mb-m">
     <div class="h-3 mr-s">Browse Movies & TV</div>
    <div id="byrating" class="filtermovies_filter h-4 t-hide">By Rating</div>
    <div id="releasedate" class="filtermovies_filter h-4 t-hide">Release Date</div>
    <div id="runtime" class="filtermovies_filter h-4 t-hide">Runtime</div>
    <div id="movies" class="filtermovies_filter h-4 t-hide">Movies</div>
    <div id="series" class="filtermovies_filter h-4 t-hide">Series</div>
    <div class="filtermovies_select t-show">
        <select name="movies" id="movies">
            <option id="byrating" value="By Rating">By Rating</option>
            <option id="releasedate" value="Release Date">Release Date</option>
            <option id="runtime" value="Runtime">Runtime</option>
            <option id="movies" value="Movies">Movies</option>
            <option id="series" value="Series">Series</option>
        </select>
    </div>
</div>