<footer class="footer">
    <div class="container">
        <div class="footer__logo h-4 h-4--white">MovieNation</div>
        <div class="footer__left">
            <div class="footer__left--1">
                <ul class="footer__left--1-list">
                    <h4 class="h-5--white footer__link">Navigate</h4>
                    <a class="h-5--white footer__link">Home</a>
                    <a class="h-5--white footer__link">Shop</a>
                    <a class="h-5--white footer__link">About</a>
                    <a class="h-5--white footer__link">Contact</a>
                    <a class="h-5--white footer__link">Login</a>
                </ul>
            </div>
            <div class="footer__left--2">
                <ul class="footer__left--2-list">
                    <h4 class="h-5--white footer__link">Need Help?</h4>
                    <a class="h-5--white footer__link">
                        Customer Service
                    </a>
                    <a class="h-5--white footer__link">Contact Us</a>
                    <a class="h-5--white footer__link">Question</a>
                    <a class="h-5--white footer__link">Store Locator</a>
                    <a class="h-5--white footer__link">Login</a>
                </ul>
            </div>
            <div class="footer__left--3">
                <ul class="footer__left--3-list">
                    <h4 class="h-5--white footer__link">Social</h4>
                    <a class="h-5--white footer__link">Instagram</a>
                    <a class="h-5--white footer__link">Facebook</a>
                    <a class="h-5--white footer__link">YouTube</a>
                    <a class="h-5--white footer__link">SnapChat</a>
                </ul>
            </div>
            <div class="footer__left--4">
                <ul class="footer__left--4-list">
                    <h4 class="h-4--white footer__link">
                        Terms & Conditions
                    </h4>
                    <a class="h-5--white footer__link">Return Policy</a>
                    <a class="h-5--white footer__link">
                        Covid Policies
                    </a>
                    <a class="h-5--white footer__link">
                        Import & Export
                    </a>
                    <a class="h-5--white footer__link">Terms</a>
                </ul>
            </div>
        </div>
    </div>
</footer>