<footer class="footer mt-xl">
  <div class="container">
    <div class="footer__logo h-3">
      MovieNation
    </div>
    <div class="footer__left">
      <div class="footer__left--1">
        <ul class="footer__left--1-list">
          <h4 class="h-4">
            Navigate
          </h4>
          <a class="h-5--white">
            Home
          </a>
          <a class="h-5--white">
            Shop
          </a>
          <a class="h-5--white">
            About
          </a>
          <a class="h-5--white">
            Contact
          </a>
          <a class="h-5--white">
            Login
          </a>
        </ul>
      </div>
      <div class="footer__left--2">
        <ul class="footer__left--2-list">
          <h4 class="h-4">
            Need Help?
          </h4>
          <a class="h-5--white">
            Customer Service
          </a>
          <a class="h-5--white">
            Contact Us
          </a>
          <a class="h-5--white">
            Question
          </a>
          <a class="h-5--white">
            Store Locator
          </a>
          <a class="h-5--white">
            Login
          </a>
        </ul>
      </div>
      <div class="footer__left--3">
        <ul class="footer__left--3-list">
          <h4 class="h-4">
            Social
          </h4>
          <a class="h-5--white">
            Instagram
          </a>
          <a class="h-5--white">
            Facebook
          </a>
          <a class="h-5--white">
            YouTube
          </a>
          <a class="h-5--white">
            SnapChat
          </a>
        </ul>
      </div>
      <div class="footer__left--4">
        <ul class="footer__left--4-list">
          <h4 class="h-4">
            Terms & Conditions
          </h4>
          <a class="h-5--white">
            Return Policy
          </a>
          <a class="h-5--white">
            Covid Policies
          </a>
          <a class="h-5--white">
            Rent Policies
          </a>
          <a class="h-5--white">
            Terms
          </a>
        </ul>
      </div>
    </div>
  </div>
</footer>