<div class="container">
    <header class="header">
        <nav class="header_nav">
            <li><a href="/" class="header_logo">MovieNation</a></li>
            <ul class="header_list">
                <li class="header_list_links"><a href="/list">Movies & TV</a></li>
                <li class="header_list_links"><a href="/user/login">Login</a></li>
                <li class="header_list_links"><a href="/user/register">Register</a></li>
                <li class="header_list_links"><a href="/search">Search <i class="fas fa-1x fa-search"></i> </a></li>
                <div class="header_list_menu">
                    <li>MENU</li>
                </div>
            </ul>
        </nav>
    </header>
</div>