<section class="hero">
    <div class="hero_carousel">
        {{#each images}}
   <div class="hero_carousel_slides">
  <div class="slides_banner">
      <div class="h-3 h-3--black">Best Films of 2021</div>
  </div>
  <div class="slides_images">
        <img src={{this}} alt="">
  </div>
</div>
        {{/each}}
    </div>
    <div class="hero_pagination">
        <a index="0" class="hero_pagination_button" href=""></a>
        <a index="1" class="hero_pagination_button" href=""></a>
        <a index="2" class="hero_pagination_button" href=""></a>
        <a index="3" class="hero_pagination_button" href=""></a>
        <a index="4" class="hero_pagination_button" href=""></a>
    </div>
</section>