<section class="hero">
   
        <a href="" class="hero_arrows_left"></a>
        <a href="" class="hero_arrows_right"></a>
   
    <div class="hero_carousel">
        {{#each images}}
   <div class="hero_carousel_slides">
  <div class="slides_images">
       <figure class="progressive">
  <img alt="Hero Images" style="width: 100%; height: 100%;" class="progressive__img progressive--not-loaded" data-progressive={{this.large}} src="{{this.comp}}">
</figure>
  </div>
</div>
        {{/each}}
    </div>

<div class="hero_subcontainer">
<div class="hero_banner">
    <div class="hero_banner_left">
     <h1 id="hero_title" class="h-2 h-2--white heading">The Witcher</h1>
     <h2 id="hero_desc" class="h-5 h-5--white hero_desc">The Witcher is an American fantasy drama web television series created by Lauren Schmidt Hissrich for Netflix. It is based on the book series of the same name by Polish writer Andrzej Sapkowski.</h2>
    <a href="/list" id="hero_buy" class="btn btn-white hero_btn mt-m">Explore Movies And TV</a>
    </div>
</div>

   <div class="hero_banner_right">
        <div class="hero_cast">
            <ul>
                <li class="heading h-4 h-4--white">Cast</li>
                <li id="hero_cast_li" >Henry Cavill</li>
                <li id="hero_cast_li" >Freya Allan</li>
                <li id="hero_cast_li" >Yasen Atour</li>
            </ul>
        </div>
    </div>

    <div class="hero_pagination">
        <a index="0" class="hero_pagination_button" href=""></a>
        <a index="1" class="hero_pagination_button" href=""></a>
        <a index="2" class="hero_pagination_button" href=""></a>
        <a index="3" class="hero_pagination_button" href=""></a>
        <a index="4" class="hero_pagination_button" href=""></a>
    </div>
    </div>
</section>