<section class="hero">
    <div class="hero_carousel">
    
    </div>
    <div class="hero_pagination">
        <a class="hero_pagination_button" href=""></a>
        <a class="hero_pagination_button" href=""></a>
        <a class="hero_pagination_button" href=""></a>
        <a class="hero_pagination_button" href=""></a>
        <a class="hero_pagination_button" href=""></a>
    </div>
</section>