   <div class="overlay__menu">
        <div class="overlay__menu_cross">
            X
        </div>
        <div class="overlay__menu_links">
            <div class="overlay__menu_link">
                <a class="overlay__menu_link_a"  href="/">Home</a>
            </div>
            <div class="overlay__menu_link">
                <a  class="overlay__menu_link_a" href="/list">Movies & TV</a>
            </div>
    <li class="overlay__menu_link"><a  class="overlay__menu_link_a" href="/cart">Cart</a></li>
            {{#if user}}
                {{#if user.isAdmin}}
                       <div class="overlay__menu_link"><a  class="overlay__menu_link_a" href="/user/admin">Admin Dashboard
                       </a></div>
                {{/if}}
                 <div class="overlay__menu_link"><a  class="overlay__menu_link_a" href="/user/dashboard">My Account
                       </a></div>
                 <div class="overlay__menu_link"><a  class="overlay__menu_link_a" href="/user/orders">Orders
                       </a></div>
            
                   <li class="overlay__menu_link"><a  class="overlay__menu_link_a" href="/user/logout">Logout</a></li>
            {{else}}
                    <div class="overlay__menu_link">
                <a class="overlay__menu_link_a"  href="/user/login">Login</a>
            </div>
            <div class="overlay__menu_link">
                <a class="overlay__menu_link_a"  href="/user/register">Register</a>
            </div>
            {{/if}}
            <div class="overlay__menu_link">
                <a class="overlay__menu_link_a theme"><svg style="width: 1.6rem;"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 496 496"
        id="theme"
      >
        <path  
          d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z"
          transform="translate(-8 -8)"
        />
      </svg></a>
            </div>
        
        </div>
    </div>
