
<div class="movieIcon mr-m">
       {{#if category}}
           
        <img src={{img_s}} alt="">
    {{#if featured}}
        <div class="featured_tag">
        </div>
       {{/if}} 
    {{/if}}
  
   
      
</div>
     