<div class="movie_list_buttons">
    <button class="left">
    <i class="fas fa-chevron-left"></i>
        </button>
            <button class="right"><i class="fas fa-chevron-right"></i></button> 
            <div class="movie_list">
                <div class="movie_list_featured">
                    {{#if isMovies}}
                    {{#each movies}}
                    {{#if isMovie}}
                    {{>movieIcon this}}
                    {{/if}}
                    {{/each}}
                    {{else}}
                    {{#each movies}}
                    {{#unless isMovie}}
                    {{>movieIcon this}}
                    {{/unless}}
                    {{/each}}
                    {{/if}}
                </div>
            </div>
            </div>