
        {{#if isMovies}}
          <div class="swiper-container">
         <div class="swiper-wrapper">
        {{#each movies}}
 {{#if isMovie}}
      {{#if featured}}
        
      <div class="swiper-slide">{{>movieIcon this}}</div>
      {{/if}}  
                    {{/if}}
        {{/each}}
        </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
        </div>
        {{else}}
           <div class="swiper-container">

                 <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

         <div class="swiper-wrapper">
      {{#each movies}}
        {{#unless isMovie}}

          {{#if featured}}
            
        <div class="swiper-slide">{{>movieIcon this}}</div>
          {{/if}}
            {{/unless}}
            {{/each}}
            </div>
            </div>
        {{/if}}

