<div class="movie_hero">

    <div class="movie_hero_image" style="background-image: url({{img_l}});">
        <div class="h-3 movie_name">
            {{#each (splittingBySpace name)}}
                <div class="h-3 movie_word">{{#each (splitting this)}}
                    <span class="movie_char">{{this}}</span>
{{/each}}
                </div>
                {{/each}}
        </div> 
    </div>
    </div>

    <script type="module" src="/js/effects.js"></script>