
        {{#if isMovies}}
          <div class="swiper-container">
         <div class="swiper-wrapper">
        {{#each movies}}
 {{#if isMovie}}
                    
      <div class="swiper-slide">{{>movieIcon this}}</div>
                    {{/if}}
        {{/each}}
        </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
        </div>
        {{else}}
           <div class="swiper-container">

                 <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

         <div class="swiper-wrapper">
      {{#each movies}}
        {{#unless isMovie}}
        <div class="swiper-slide">{{>movieIcon this}}</div>
            {{/unless}}
            {{/each}}
            </div>
     <!-- If we need navigation buttons -->

            </div>
        {{/if}}

