<div class="movie_list">
        <div class="movie_list_featured" id="my-scrollbar">
       {{#if isMovies}}
    {{#each movies}}
    {{#if isMovie}}
            {{>movieIcon this}}
            {{/if}}
    {{/each}}
        {{else}}
        {{#each movies}}
        {{#unless isMovie}}
        {{>movieIcon this}}
        {{/unless}}
    {{/each}}
            {{/if}}
        </div>
    </div>
