
<div class="purchasemovie" data-pin>
        <img src={{img_s}} alt={{name}}>
    {{#if featured}}
        <div class="featured_tag">
        </div>
       {{/if}} 

    <a class="btn btn-white mt-m" href="#">Buy ${{buy}}</a>
    <a class="btn btn-white mt-m" href="#">Rent ${{rent}}</a>
</div>
   