<div class="search">
    <input type="text" autocomplete="off"  placeholder="Search Movies & TV" name="searchTerm" id="searchBox" class="search__term h-3">
    <i class="fas fa-times fa-3x search_close"></i>
    <div class="search_overflow"></div>
</div>