<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body data-barba="wrapper">
    <div class="cursor_js"></div>
    <div class="loader"></div>
    {{>header}}


    <main id="intro" data-barba="container">
        {{{body}}}
    </main>
    {{>footer}}

</body>
<script src="https://cdn.jsdelivr.net/combine/npm/@barba/core@2.9.7,npm/@barba/css@2.1.15"></script>
<script src="https://cdn.jsdelivr.net/npm/@barba/core@2.9.7/dist/barba.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"
    integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.6.0/smooth-scrollbar.min.js" integrity="sha512-/i9hnD/QS+oyspghC8CLAzA9eh+GKAAXhpdakrfsfk9Q1qJel3cR8cWYhPNe6sdExCd9lu1tIxOFECwD0WlU7A==" crossorigin="anonymous"></script>

<script type="module" src="/js/app.js"></script>
</html>