<div class="container">
    <h4 class="h-4 mb-m heading">Cart</h4>
    <hr class="mt-m">
<h1 class="h-4 mt-m">Your Cart is Empty</h1>
    <hr class="mt-m">
    <a href="/list" class="btn btn-white mt-m heading">Shop</a>
</div>


{{>footer}}