<div class="container">
<div class="dashboard">
    <h3 class="dashboard__name h-3">Hi, {{user.firstname}} {{user.lastname}}</h3>
    <p class="h-4 mt-m">Welcome To MFlix</p>
    <p class="h-4 mt-m">A Get Started guide has been sent to your registered Email.</p>
    <button class="mt-m"><a class="btn btn-white" href="/list">Explore Movies & TV</a></button>
</div>
</div>

{{>footer}}

<script src="/js/dashboard.js"></script>