<div class="container">
<div class="dashboard">
    <h3 class="dashboard__name h-4">Hi, {{user.firstname}} {{user.lastname}}</h3>
    <h3 class="h-4 heading mt-m">Your Orders</h3>
    <hr class="mt-m">
    <h3 class="h-4 mt-m">No Orders Yet</h3>
 <hr class="mt-m">
    <div class="dashboard__btn mt-m">
    <a href="/user/update" class="btn btn-white heading mr-m">Update Account</a>
    <a href="/user/delete" class="btn btn-white heading">Delete Account</a>
    </div>

</div>
</div>

{{>footer}}

<script src="/js/dashboard.js"></script>