{{>hero images=images}}

<div class="container">
<section class="mb-xl">

    <div class="h-3 mb-s">
        Featured Movies
    </div>

    {{>movieCarousel movies=movies isMovies=true}}

    <div class="h-3 mb-s mt-l">
        Featured TV 
    </div>
    {{>movieCarousel isMovies=false movies=movies}}
    </div>

</section>
</div>

{{>contentSection images=images}}
<script src="/js/carousel.js"></script>


