
{{>hero images=imagesForCarousel}}

<section class="mb-xl">
<div class="container" >

    <div class="h-3 mb-s">
        Featured Movies
    </div>

    {{>movieCarousel movies=movies isMovies=true}}

    <div class="h-3 mb-s mt-xl">
        Featured TV 
    </div>
    {{>movieCarousel isMovies=false movies=movies}}
    </div>

</section>

{{>contentSection images=images}}


  {{>footer}}

  <script src="/js/carousel.js"></script>
  <script src="/js/movieListCarousel.js"></script>