{{>hero}}

<section>

    <div class="heading-1">
        Featured Movies
    </div>
    <ul class="people_list">
        {{#each movies}}
        <li>{{this.name}}</li>
        <li>{{this.featured}}</li>
        <li>{{this.rent}}</li>
        {{/each}}
    </ul>
</section>