{{>hero}}

<div class="container">
<section>

    <div class="h-3 mb-s">
        Featured Movies
    </div>

    {{>movieCarousel movies=movies isMovies=true}}
    {{>movieCarousel isMovies=false movies=movies}}

    </div>

</section>
</div>