{{>hero}}

<div class="container">
<section>

    <div class="h-3 mb-s">
        Featured Movies
    </div>

    {{>movieCarousel}}
    <div class="movie_list">
        <div class="movie_list_featured">
        {{#each movies}}
            {{>movieIcon this}}
        {{/each}}
        </div>
    </div>

    <div class="movie_carousel">

    </div>

</section>
</div>