
<div class="login">
<div class="login_image">
    <img src="{{image}}" alt="">
</div>
<div class="login_container">
<div class="h-3">Register</div>



    <form class="login_form" method="POST" action="/user/register">
          <div class="login_form_field">
        <label class="h-4" for="Email">Name</label>
        <input name="Name" required>        
        </div>
        <div class="login_form_field">
        <label class="h-4" for="Email">Email</label>
        <input  name="Email" required>        
        </div>
        <div class="login_form_field">
        <label class="h-4" for="Password">Password</label>
        <input type="password" name="Password" required>        
        </div>
        <button type="submit" class="mt-l t-w100 btn btn--white">Register</button>
    </form>

</div>

</div>
