
<div class="login">
<div class="login_image">
    <img src="{{image}}" alt="">
</div>
<div class="login_container">
<div class="h-3">Register</div>



    <form class="login_form ">
          <div class="login_form_field">
        <label class="h-4" for="Email">Name</label>
        <input type="email" required>        
        </div>
        <div class="login_form_field">
        <label class="h-4" for="Email">Email</label>
        <input type="email" required>        
        </div>
        <div class="login_form_field">
        <label class="h-4" for="Password">Password</label>
        <input type="password" required>        
        </div>
        <button type="submit" class="mt-l btn btn--white">Register</button>
    </form>

</div>

</div>
