<div class="search">
    <datalist class="search_list" id="suggestions">
        {{#each movie}}
          <option>{{name}}</option>
        {{/each}}
    </datalist>
    <form action="/"></form>
    <input class="search_input" placeholder="Search Movies" type="text" autoComplete="on" list="suggestions"/> 

</div>
  {{>footer}}