<div class="container">
<div class="double_carousel">
    <div class="first_carousel">
        <div class="single_carousel">

        </div>
    </div>

    <div class="second_carousel">
        <div class="single_carousel">

        </div>
    </div>
</div>
</div>