@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
::selection {
  background-color: #fff;
  color: #1b1b1b; }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%;
  font-family: "Lora", serif; }
  @media only screen and (max-width: 870px) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 500px) {
    html {
      font-size: 50%; } }

body {
  background: #121212;
  overflow-x: hidden; }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem; }
  @media only screen and (max-width: 500px) {
    .container {
      padding: 0 1rem; } }

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

img {
  width: 100%;
  object-fit: cover; }

ul,
li {
  list-style-type: none; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

.h-1, .h-2, .h-3, .h-4, .h-5, .h-6 {
  font-weight: 400;
  font-family: "Lora", serif;
  color: #fff; }

p {
  font-size: 1.8rem;
  color: #fff; }

a,
li {
  font-size: 1.4rem;
  color: #fff; }

.h-1 {
  font-size: 6rem;
  line-height: 1; }
  .h-1--white {
    color: #fff; }
  .h-1--black {
    color: #121212; }
  .h-1--cta {
    color: orange; }
  @media only screen and (max-width: 500px) {
    .h-1 {
      font-size: 3rem; } }

.h-2 {
  font-size: 5rem;
  text-transform: capitalize; }
  .h-2--white {
    color: #fff; }
  .h-2--black {
    color: #121212; }
  .h-2--cta {
    color: orange; }
  @media only screen and (max-width: 500px) {
    .h-2 {
      font-size: 3rem; } }

.h-3 {
  font-size: 3.5rem;
  line-height: 1; }
  @media only screen and (max-width: 500px) {
    .h-3 {
      font-size: 2rem; } }
  .h-3--white {
    color: #fff; }
  .h-3--black {
    color: #121212; }
  .h-3--cta {
    color: orange; }

.h-4 {
  font-size: 2rem; }
  .h-4--white {
    color: #fff; }
  .h-4--black {
    color: #121212; }
  .h-4--cta {
    color: orange; }
  @media only screen and (max-width: 500px) {
    .h-4 {
      font-size: 4vw; } }

.h-5 {
  line-height: 1.3;
  font-size: 1.4rem; }
  .h-5--white {
    color: #fff; }
  .h-5--black {
    color: #121212; }
  .h-5--cta {
    color: orange; }

.h-6 {
  font-size: 1.2rem; }
  .h-6--white {
    color: #fff; }
  .h-6--black {
    color: #121212; }
  .h-6--cta {
    color: orange; }

.h-3-vw {
  font-size: 3.5vmin;
  text-transform: capitalize; }
  @media only screen and (max-width: 500px) {
    .h-3-vw {
      font-size: 6.5vw; } }

.movie_list_buttons {
  position: relative;
  top: 0; }
  .movie_list_buttons button.left {
    position: absolute;
    top: 15%;
    z-index: 500;
    background: rgba(255, 255, 255, 0.5);
    padding: 4rem 2rem;
    height: 30%;
    backdrop-filter: blur(4px);
    left: 0px;
    transform: translateY(40%); }
    @media only screen and (max-width: 500px) {
      .movie_list_buttons button.left {
        display: none; } }
  .movie_list_buttons button.right {
    right: 0px;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    top: 15%;
    backdrop-filter: blur(4px);
    z-index: 500;
    padding: 4rem 2rem;
    height: 30%;
    transform: translateY(40%); }
    @media only screen and (max-width: 500px) {
      .movie_list_buttons button.right {
        display: none; } }

.movie_list {
  overflow-x: scroll;
  display: flex;
  top: 0;
  scroll-behavior: smooth;
  overflow-y: hidden;
  margin-bottom: 3rem; }
  .movie_list::-webkit-scrollbar {
    display: none; }
  .movie_list_featured {
    display: flex;
    margin-bottom: 6rem;
    transition: all 0.5s;
    position: relative; }

.movieIcon {
  position: relative;
  top: -3%;
  user-select: none;
  width: 18rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  transition: transform 0.3s; }
  .movieIcon img {
    transition: transform 0.3s;
    overflow: hidden; }
  .movieIcon:hover {
    transform: scale(1.06); }
  .movieIcon__overflow {
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 3px; }
  .movieIcon__name_container {
    position: absolute;
    padding: 2rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(7px);
    white-space: nowrap;
    bottom: 0;
    overflow: hidden; }
  .movieIcon_name {
    color: #fff;
    white-space: nowrap;
    text-shadow: 0 2px 2px #1b1b1b; }
  .movieIcon_runtime {
    text-shadow: 0 2px 2px #1b1b1b;
    color: #fff; }

.list_movies {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  grid-row-gap: 3rem; }
  @media only screen and (max-width: 500px) {
    .list_movies {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); } }

.featured_tag {
  position: absolute;
  top: -1.8rem;
  width: 100%;
  color: #121212; }
  .featured_tag::before {
    content: "Featured";
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; }

.movie_hero {
  height: 80vh;
  overflow-x: hidden; }
  .movie_hero_image {
    position: relative;
    top: 0;
    width: 100%;
    height: 60vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }
  .movie_hero_image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3; }

.movie_name {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }

.movie_word {
  margin-right: 2rem;
  letter-spacing: -5px;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none; }
  @media only screen and (max-width: 500px) {
    .movie_word {
      letter-spacing: -2px;
      margin-right: 1rem; } }

.movie_char {
  font-weight: 800;
  opacity: 0; }

.purchasemovie {
  width: 22rem;
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  z-index: 1000;
  padding-left: 2rem;
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
  height: 45rem;
  z-index: 500; }
  .purchasemovie__buttons {
    width: 100%; }
    @media only screen and (max-width: 870px) {
      .purchasemovie__buttons {
        width: 40%; } }
  @media only screen and (max-width: 870px) {
    .purchasemovie {
      align-items: center;
      flex-direction: row;
      margin-right: 0;
      background-color: #1b1b1b;
      width: 100%;
      height: auto;
      top: -1px;
      margin-bottom: 5rem;
      justify-content: space-around;
      padding: 5rem; } }
  .purchasemovie__image {
    position: relative;
    align-self: center;
    top: 0px;
    transition: all 0.1s;
    width: 20rem;
    height: 24rem;
    object-fit: cover; }
    @media only screen and (max-width: 870px) {
      .purchasemovie__image {
        width: 18.5rem;
        flex-direction: row;
        margin-right: 0; } }

.movie_details {
  display: unset;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
  top: 0; }
  @media only screen and (max-width: 870px) {
    .movie_details {
      padding: 0; } }

.movie_text {
  font-size: 2.7rem;
  font-weight: 400;
  color: #fff; }

.reviews {
  background-color: #1b1b1b;
  padding: 4rem 0; }
  @media only screen and (max-width: 870px) {
    .reviews {
      padding: 4rem 2rem; } }

.movie_info {
  margin-top: -40rem; }
  @media only screen and (max-width: 870px) {
    .movie_info {
      margin-top: 0rem; } }
  .movie_info_section1 {
    padding: 2rem;
    background: #1b1b1b; }
    @media only screen and (max-width: 870px) {
      .movie_info_section1 {
        margin-top: 10rem;
        background-color: #1b1b1b;
        padding: 3rem 3rem 3rem 4rem; } }
  .movie_info * {
    line-height: 1.5; }

.cast {
  position: relative;
  top: 0;
  padding: 3rem 3rem 3rem 4rem;
  background-color: #1b1b1b;
  margin-top: 20rem; }
  .cast_image {
    position: absolute;
    top: -100px;
    right: 3rem;
    width: 0%;
    height: 30rem;
    object-fit: cover;
    transform-origin: left; }
  .cast .produced_by {
    display: flex;
    justify-content: space-between;
    width: 60%; }

@media only screen and (max-width: 870px) {
  .shrink {
    align-items: center;
    padding: 1rem;
    justify-content: space-around;
    height: auto;
    width: 100%;
    margin-right: 0;
    box-shadow: 0px 1px 5px #121212; }
    .shrink .purchasemovie__image {
      width: 8rem;
      height: 10rem; }
    .shrink .featured_tag {
      top: -1rem; }
      .shrink .featured_tag::before {
        font-size: 0.8rem; } }

.recommended_movies {
  display: flex;
  justify-content: space-between; }

.header {
  height: 20vh; }
  .header_nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header_logo {
    font-size: 2rem; }
  .header_list {
    display: flex;
    justify-content: space-between;
    width: 35%; }
    .header_list_links {
      color: #fff; }
      @media only screen and (max-width: 870px) {
        .header_list_links {
          display: none; } }
      .header_list_links a {
        color: #fff;
        transition: all 0.4s;
        padding: 0.4rem 0;
        font-size: 1.1rem;
        text-decoration: none;
        position: relative;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-family: "Lora", serif; }
        .header_list_links a::after {
          text-align: center;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: #fff;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0; }
        .header_list_links a:hover:after {
          width: 100%;
          left: 0; }
    @media only screen and (max-width: 870px) {
      .header_list {
        width: auto;
        justify-content: flex-end; } }

.marquee {
  animation: transformRight 8s linear infinite forwards;
  display: flex;
  white-space: nowrap; }

.btn {
  outline: none;
  border: none;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  transition: 0.2s all; }
  @media only screen and (max-width: 500px) {
    .btn {
      padding: 1.5rem 2rem; } }
  .btn-white {
    background-color: #fff;
    color: #1b1b1b; }
    .btn-white:hover {
      color: #1b1b1b;
      background-color: #ddd; }
  .btn-black {
    background-color: #000;
    color: #fff; }
    .btn-black:hover {
      color: #1b1b1b;
      background-color: #fff; }

.cursor_js {
  position: fixed;
  top: -30px;
  border: 1.5px solid #fff;
  background: transparent;
  width: 4rem;
  height: 4rem;
  z-index: 999;
  pointer-events: none;
  border-radius: 50%;
  animation-timing-function: ease-in-out;
  transform: translate(-50%, -50%);
  transform-origin: 150% 150%; }
  @media only screen and (max-width: 870px) {
    .cursor_js {
      display: none; } }

.filtermovies {
  display: flex;
  justify-content: space-around;
  background-color: #1b1b1b;
  padding: 5rem;
  align-items: baseline; }
  @media only screen and (max-width: 870px) {
    .filtermovies {
      align-items: center; } }
  .filtermovies select {
    outline: none;
    padding: 2rem 1rem;
    background: #121212;
    color: #fff;
    border: none; }
    .filtermovies select option {
      border: none; }
  .filtermovies_filter {
    background-color: #1b1b1b;
    padding: 2rem;
    border-radius: 4px;
    cursor: pointer; }
  .filtermovies .active {
    background-color: #121212 !important; }

.search {
  display: flex;
  justify-content: center; }
  .search input::-webkit-calendar-picker-indicator {
    display: none; }
  .search input {
    width: 20%;
    height: 4rem;
    border: none;
    padding: 2rem;
    outline: none;
    color: #fff;
    background: #333; }
    @media only screen and (max-width: 870px) {
      .search input {
        width: 30%; } }
  .search input::placeholder {
    color: white; }

.hero {
  height: 80vh;
  width: 100%; }
  .hero_carousel {
    background-color: #fff;
    height: 60vh;
    width: 500%;
    display: flex;
    transition: 0.5s all;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden; }
    .hero_carousel_slides {
      width: 100%;
      display: flex; }
      .hero_carousel_slides img {
        width: 100%; }
  .hero_pagination {
    height: 20vh;
    display: flex;
    width: 10rem;
    align-items: center;
    margin-left: auto;
    margin-right: 10%;
    justify-content: space-between; }
    .hero_pagination_button {
      border-radius: 50%;
      width: 1rem;
      cursor: pointer;
      height: 1rem;
      background-color: #333; }

.slides_banner {
  width: 40%; }

.slides_images {
  width: 60%; }

.overlay__menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1b1b;
  transform-origin: center;
  z-index: 1000;
  -webkit-clip-path: inset(50% 0 50% 0);
  clip-path: inset(50% 0 50% 0); }
  .overlay__menu_cross {
    position: fixed;
    top: 4rem;
    right: 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 2rem; }
  .overlay__menu_link_a {
    color: #fff;
    font-size: 4rem; }
  .overlay__menu_link {
    margin: 2rem 0; }

.overlay__menu .overlay_text {
  position: absolute;
  top: 40%;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  transform: rotate(90deg); }

.openMenu {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  transition: all 0.6s; }

.closeMenu {
  -webkit-clip-path: inset(50% 0 50% 0);
  clip-path: inset(50% 0 50% 0);
  transition: all 0.6s; }

.cross_show {
  opacity: 1;
  transition-delay: 0.5s;
  transition: opacity 0.2s; }

.cross_hide {
  opacity: 0;
  transition: opacity 0.2s; }

.fixed_top {
  position: fixed;
  top: 3rem;
  z-index: 998; }

.mt-m {
  margin-top: 2rem; }

.mr-m {
  margin-right: 2rem; }

.mr-l {
  margin-right: 3rem; }

.mr-s {
  margin-right: 1rem; }

.underline {
  text-decoration: underline; }

.capitalize {
  text-transform: capitalize; }

.mt-l {
  margin-top: 3.5rem; }

.mt-xl {
  margin-top: 6rem; }

.mb-s {
  margin-bottom: 1.3rem; }

.mb-m {
  margin-bottom: 2rem; }

.mb-xl {
  margin-bottom: 6rem; }

.mb-l {
  margin-bottom: 3.5rem; }

.ml-s {
  margin-left: 1rem; }

.ml-m {
  margin-left: 2rem; }

.ml-l {
  margin-left: 3.5rem; }

@media only screen and (max-width: 500px) {
  .m-hide {
    display: none !important; } }

@media only screen and (max-width: 870px) {
  .t-hide {
    display: none !important; } }

@media only screen and (min-width: 870px) {
  .t-show {
    display: none; } }

@media only screen and (max-width: 870px) {
  .t-show {
    display: inline-block; } }

@media only screen and (max-width: 870px) {
  .t-w100 {
    width: 100% !important; } }

.mt-s {
  margin-top: 1vw; }

@media only screen and (max-width: 500px) {
  .m-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }

.heading {
  font-weight: 800;
  text-transform: uppercase; }

.container_sub {
  margin: auto;
  max-width: 1700px; }
  @media only screen and (max-width: 870px) {
    .container_sub {
      margin: 0 auto;
      padding: 0rem; } }

.overlay_text {
  font-size: 10vw;
  color: #141414;
  font-weight: 800; }
  @media only screen and (max-width: 870px) {
    .overlay_text {
      font-size: 20vw; } }

.container_right {
  overflow: hidden;
  margin-left: auto;
  max-width: 1200px;
  width: 70%; }
  @media only screen and (max-width: 870px) {
    .container_right {
      margin: 0 auto;
      padding: 0rem;
      width: 100%; } }

.modern_input {
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent; }
  .modern_input ::placeholder {
    color: #fff; }

.pabs-center {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-button-prev, .swiper-button-next {
  padding: 10rem 0;
  top: 20%;
  position: absolute;
  color: orange; }

.swiper-button-next {
  right: 0; }

.swiper-button-prev.swiper-button-disabled {
  opacity: 0.2; }

.swiper-button-next.swiper-button-disabled {
  opacity: 0.2; }

.swiper-button-prev {
  left: 0; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: auto !important;
  background: #121212;
  position: relative;
  top: 0;
  height: 27rem;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.contentsection {
  width: 100%;
  display: grid;
  background-color: #1b1b1b;
  grid-template-columns: 1fr 3fr; }
  @media only screen and (max-width: 500px) {
    .contentsection {
      position: relative;
      top: 0;
      grid-template-columns: 1fr; } }
  .contentsection_banner {
    display: grid;
    align-items: center;
    padding-left: 1rem; }
    @media only screen and (max-width: 500px) {
      .contentsection_banner {
        position: absolute;
        top: 50%;
        left: 50%;
        white-space: nowrap;
        transform: translate(-50%, -50%);
        z-index: 15; } }
  .contentsection_images {
    overflow: hidden; }
    @media only screen and (max-width: 500px) {
      .contentsection_images::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.65);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10; } }
    .contentsection_images_container {
      display: flex;
      animation: transformRight 30s infinite;
      animation-timing-function: linear; }

@keyframes transformRight {
  from {
    transform: translateX(0%); }
  to {
    transform: translateX(-100%); } }

.footer {
  background-color: #000;
  width: 100%;
  padding: 4rem; }
  @media only screen and (max-width: 870px) {
    .footer {
      padding: 2rem; } }
  .footer h4 {
    white-space: nowrap; }
  .footer a {
    color: #fff;
    transition: all 0.4s;
    padding: 0.4rem 0;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: "Lora", serif; }
    .footer a::after {
      text-align: center;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0; }
    .footer a:hover:after {
      width: 100%;
      left: 0; }
  .footer__logo {
    text-align: center;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 870px) {
      .footer__logo {
        text-align: left;
        margin-bottom: 0; } }
  .footer__left {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between; }
    @media only screen and (max-width: 870px) {
      .footer__left {
        flex-wrap: wrap;
        width: 100%; } }
    .footer__left--1-list {
      list-style: none;
      display: flex;
      flex-direction: column; }
    @media only screen and (max-width: 870px) {
      .footer__left--1 {
        width: 50%;
        display: flex; } }
    @media only screen and (max-width: 500px) {
      .footer__left--1 {
        width: 100%;
        display: flex;
        margin-top: 2rem; } }
    .footer__left--2-list {
      list-style: none;
      display: flex;
      flex-direction: column; }
    @media only screen and (max-width: 870px) {
      .footer__left--2 {
        width: 50%;
        display: flex; } }
    @media only screen and (max-width: 500px) {
      .footer__left--2 {
        width: 100%;
        display: flex;
        margin-top: 2rem; } }
    .footer__left--3-list {
      list-style: none;
      display: flex;
      flex-direction: column; }
    @media only screen and (max-width: 870px) {
      .footer__left--3 {
        width: 50%;
        display: flex;
        margin-top: 2rem; } }
    @media only screen and (max-width: 500px) {
      .footer__left--3 {
        width: 100%;
        display: flex;
        margin-top: 2rem; } }
    .footer__left--4-list {
      list-style: none;
      display: flex;
      flex-direction: column; }
    @media only screen and (max-width: 870px) {
      .footer__left--4 {
        width: 50%;
        display: flex;
        margin-top: 2rem; } }
    @media only screen and (max-width: 500px) {
      .footer__left--4 {
        width: 100%;
        display: flex;
        margin-top: 2rem; } }

.double_carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: 20vh; }
  @media only screen and (max-width: 500px) {
    .double_carousel {
      flex-direction: column; } }

.first_carousel {
  overflow: hidden; }

.single_carousel {
  height: 100%;
  width: 500%;
  display: flex;
  transition: transform 0.5s;
  align-items: center;
  background-color: #fff; }
  .single_carousel .banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0; }
    .single_carousel .banner::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      top: 0;
      right: 0; }
    .single_carousel .banner .h-3 {
      position: absolute;
      top: 50%;
      white-space: nowrap;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5; }
  .single_carousel img {
    object-fit: cover;
    height: 60vh;
    width: 20%; }

.second_carousel {
  overflow: hidden; }

.pagination {
  display: flex;
  margin-left: auto;
  transform: rotate(-270deg);
  justify-content: space-between;
  width: 15rem; }
  .pagination_button {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #333; }
    @media only screen and (max-width: 870px) {
      .pagination_button {
        padding: 0.5rem; } }
    @media only screen and (max-width: 500px) {
      .pagination_button {
        padding: 0.8rem; } }
  @media only screen and (max-width: 870px) {
    .pagination {
      order: 2; } }
  @media only screen and (max-width: 500px) {
    .pagination {
      transform: rotate(0);
      position: absolute;
      bottom: 10%;
      width: 60%; } }

.login {
  display: flex;
  height: 80vh;
  width: 100%; }
  .login_image {
    width: 60%;
    position: absolute;
    z-index: -1;
    height: 100vh;
    top: 0; }
    .login_image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media only screen and (max-width: 870px) {
      .login_image {
        display: none; } }
  .login_container {
    width: 40%;
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 0 3rem;
    right: 0;
    text-align: center; }
    @media only screen and (max-width: 870px) {
      .login_container {
        width: 80%;
        position: static;
        margin: 0 auto;
        display: block; } }
  .login_form {
    display: flex;
    flex-direction: column; }
    .login_form button {
      width: 15rem; }
    .login_form_field {
      display: flex;
      margin-top: 4rem; }
      @media only screen and (max-width: 870px) {
        .login_form_field {
          flex-direction: column; } }
      .login_form_field label {
        flex: 1;
        display: flex; }
      .login_form_field input {
        flex: 2;
        outline: none;
        border: none;
        font-size: 1.6rem;
        margin-top: 1rem;
        color: #fff;
        border-bottom: 1px solid #fff;
        background: transparent; }
