@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
::selection {
  background-color: #fff;
  color: black; }

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%;
  font-family: "Lora", serif; }

body {
  background: #0e0e0e;
  overflow-x: hidden; }

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 2rem; }

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

img {
  width: 100%;
  object-fit: cover; }

ul,
li {
  list-style-type: none; }

button {
  outline: none;
  border: none;
  cursor: pointer; }

.h-1, .h-2, .h-3, .h-4, .h-5, .h-6 {
  font-weight: 400;
  font-family: "Lora", serif;
  color: #fff; }

p {
  font-size: 1.8rem;
  color: #fff; }

a,
li {
  font-size: 1.4rem;
  color: #fff; }

.h-1 {
  font-size: 6rem;
  line-height: 1; }
  .h-1--white {
    color: #fff; }
  .h-1--black {
    color: black; }
  .h-1--cta {
    color: orange; }
  @media only screen and (max-width: 500px) {
    .h-1 {
      font-size: 3rem; } }

.h-2 {
  font-size: 5rem;
  text-transform: capitalize; }
  .h-2--white {
    color: #fff; }
  .h-2--black {
    color: black; }
  .h-2--cta {
    color: orange; }

.h-3 {
  font-size: 4rem;
  line-height: 1; }
  @media only screen and (max-width: 500px) {
    .h-3 {
      font-size: 3rem; } }
  .h-3--white {
    color: #fff; }
  .h-3--black {
    color: black; }
  .h-3--cta {
    color: orange; }

.h-4 {
  font-size: 2rem; }
  .h-4--white {
    color: #fff; }
  .h-4--black {
    color: black; }
  .h-4--cta {
    color: orange; }
  @media only screen and (max-width: 500px) {
    .h-4 {
      font-size: 4vw; } }

.h-5 {
  line-height: 1.3;
  font-size: 1.4rem; }
  .h-5--white {
    color: #fff; }
  .h-5--black {
    color: black; }
  .h-5--cta {
    color: orange; }

.h-6 {
  font-size: 1.2rem; }
  .h-6--white {
    color: #fff; }
  .h-6--black {
    color: black; }
  .h-6--cta {
    color: orange; }

.h-3-vw {
  font-size: 3.5vw; }

.movie_list {
  overflow-x: scroll;
  display: flex;
  margin-bottom: 3rem; }
  .movie_list_featured {
    display: flex;
    margin-bottom: 6rem; }

.movieIcon {
  position: relative;
  top: 0;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  transform: translateY(30px); }

.list_movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 6rem; }

.featured_tag {
  position: absolute;
  top: -1.8rem;
  width: 100%; }
  .featured_tag::before {
    content: "Featured";
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; }

.header {
  height: 20vh; }
  .header_nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header_logo {
    font-size: 2rem; }
  .header_list {
    display: flex;
    justify-content: space-between;
    width: 35%; }
    .header_list_links {
      color: #fff; }
      @media only screen and (max-width: 870px) {
        .header_list_links {
          display: none; } }
    @media only screen and (max-width: 870px) {
      .header_list {
        width: 12%; } }
    @media only screen and (min-width: 870px) {
      .header_list_menu {
        display: none; } }
    @media only screen and (max-width: 870px) {
      .header_list_menu {
        display: inline-block; } }

.marquee {
  animation: transformRight 8s linear infinite forwards;
  display: flex;
  white-space: nowrap; }

.cursor_js {
  position: fixed;
  top: -30px;
  border: 1.5px solid #fff;
  background: transparent;
  width: 4rem;
  height: 4rem;
  z-index: 999;
  pointer-events: none;
  border-radius: 50%;
  animation-timing-function: ease-in-out;
  transform: translate(-50%, -50%);
  transform-origin: 150% 150%; }
  @media only screen and (max-width: 870px) {
    .cursor_js {
      display: none; } }

.movie_hero {
  height: 60vh;
  position: relative;
  top: 0; }
  .movie_hero_image {
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }
  .movie_hero_image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3; }

.movie_name {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }

.movie_word {
  margin-right: 2rem;
  letter-spacing: -5px;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none; }

.movie_char {
  font-weight: 800;
  opacity: 0; }

.hero {
  height: 80vh;
  width: 100%; }
  .hero_carousel {
    background-color: #fff;
    height: 60vh;
    width: 500%;
    display: flex;
    transition: 0.5s all;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden; }
    .hero_carousel_slides {
      width: 100%;
      display: flex; }
      .hero_carousel_slides img {
        width: 100%; }
  .hero_arrows_left {
    font-size: 4rem;
    color: black;
    position: absolute;
    z-index: 10;
    padding: 2rem;
    cursor: pointer;
    top: 40%;
    height: 100%;
    left: 0; }
  .hero_arrows_right {
    cursor: pointer;
    height: 100%;
    padding: 2rem;
    font-size: 4rem;
    z-index: 10;
    position: absolute;
    right: 0;
    top: 40%;
    color: black; }
  .hero_pagination {
    height: 20vh;
    display: flex;
    width: 10rem;
    align-items: center;
    margin-left: auto;
    margin-right: 10%;
    justify-content: space-between; }
    .hero_pagination_button {
      border-radius: 50%;
      width: 1rem;
      cursor: pointer;
      height: 1rem;
      background-color: #333; }

.slides_banner {
  width: 40%; }

.slides_images {
  width: 60%; }

.mt-m {
  margin-top: 2rem; }

.mr-m {
  margin-right: 2rem; }

.mr-l {
  margin-right: 3rem; }

.mr-s {
  margin-right: 1rem; }

.mt-l {
  margin-top: 3.5vw; }

.mt-xl {
  margin-top: 6vw; }

.mb-s {
  margin-bottom: 1.3vw; }

.mb-m {
  margin-bottom: 2vw; }

.mb-xl {
  margin-bottom: 6vw; }

.mb-l {
  margin-bottom: 3.5vw; }

.ml-s {
  margin-left: 1vw; }

.ml-m {
  margin-left: 2vw; }

.ml-l {
  margin-left: 3.5vw; }

@media only screen and (max-width: 500px) {
  .m-hide {
    display: none !important; } }

.mt-s {
  margin-top: 1vw; }

.contentsection {
  width: 100%;
  display: grid;
  background-color: #111111;
  grid-template-columns: 1fr 3fr; }
  @media only screen and (max-width: 500px) {
    .contentsection {
      position: relative;
      top: 0;
      grid-template-columns: 1fr; } }
  .contentsection_banner {
    display: grid;
    align-items: center;
    padding-left: 1rem; }
    @media only screen and (max-width: 500px) {
      .contentsection_banner {
        position: absolute;
        top: 50%;
        display: none;
        left: 50%;
        white-space: nowrap;
        transform: translate(-50%, -50%);
        z-index: 15; } }
  .contentsection_images {
    overflow: hidden; }
    .contentsection_images_container {
      display: flex;
      animation: transformRight 30s infinite;
      animation-timing-function: linear; }

@keyframes transformRight {
  from {
    transform: translateX(0%); }
  to {
    transform: translateX(-100%); } }

.footer {
  background-color: black;
  width: 100%;
  padding: 4rem; }
  @media only screen and (max-width: 870px) {
    .footer {
      padding: 2rem; } }
  .footer h4 {
    white-space: nowrap; }
  .footer a {
    color: #fff;
    transition: all 0.4s;
    padding: 0.4rem 0;
    font-size: 1.1rem;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-family: "Lora", serif; }
    .footer a::after {
      text-align: center;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0; }
    .footer a:hover:after {
      width: 100%;
      left: 0; }
  .footer__logo {
    text-align: center; }
  .footer__left {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between; }
    @media only screen and (max-width: 870px) {
      .footer__left {
        flex-wrap: wrap;
        width: 100%;
        text-align: center; } }
    .footer__left--1-list {
      list-style: none;
      display: flex;
      flex-direction: column; }
    @media only screen and (max-width: 870px) {
      .footer__left--1 {
        width: 50%;
        display: flex;
        justify-content: center; } }
    @media only screen and (max-width: 500px) {
      .footer__left--1 {
        width: 100%;
        display: flex;
        margin-top: 2rem; } }
    .footer__left--2-list {
      list-style: none;
      display: flex;
      flex-direction: column; }
    @media only screen and (max-width: 870px) {
      .footer__left--2 {
        width: 50%;
        justify-content: center;
        display: flex; } }
    @media only screen and (max-width: 500px) {
      .footer__left--2 {
        width: 100%;
        display: flex;
        margin-top: 2rem; } }
    .footer__left--3-list {
      list-style: none;
      display: flex;
      flex-direction: column; }
    @media only screen and (max-width: 870px) {
      .footer__left--3 {
        width: 50%;
        justify-content: center;
        display: flex;
        margin-top: 2rem; } }
    @media only screen and (max-width: 500px) {
      .footer__left--3 {
        width: 100%;
        display: flex;
        margin-top: 2rem; } }
    .footer__left--4-list {
      list-style: none;
      display: flex;
      flex-direction: column; }
    @media only screen and (max-width: 870px) {
      .footer__left--4 {
        width: 50%;
        justify-content: center;
        display: flex;
        margin-top: 2rem; } }
    @media only screen and (max-width: 500px) {
      .footer__left--4 {
        width: 100%;
        display: flex;
        margin-top: 2rem; } }
